* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

table {
  border-collapse: collapse;
}

th {
  text-align: center;
}

tr > th:nth-child(1),
tr > td:nth-child(1) {
  width: 50px;
  text-align: center;
}

th,
td {
  width: 100px;
  border: 1px solid black;
  text-align: center;
}

@media (max-width: 768px) {
  .main-st5 {
    display: none;
  }
}
