$border: 1px solid #000;
$main-bg: rgb(245, 245, 245);
$main-pd: 30px;
@mixin bs {
  padding: 5px;
}

@mixin ep {
  font-size: 55px;
  font-weight: bolder;
  padding: 10px;
}

.main-intro {
  text-align: center;
  padding: 15px 0px;
  background-color: $main-bg;
}

.main-intro.on {
  display: none;
}

.main {
  padding: 0 80px;

  video {
    width: 100%;
  }

  .main-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $main-pd;

    .main-ep {
      @include ep;
    }
    .main-bs {
      @include bs;
    }
  }

  .main-col {
    display: flex;
    div {
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 20px;
      color: #fff;
    }

    div:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.main-st1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 80px;
  .main-st1-bg {
    width: 1186px;
    height: 410px;
    background-image: url("/img/main-st1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
  }
  .men-st1-bg {
    width: 1186px;
    height: 410px;
    background-image: url("/img/men-st1-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
  }

  .main-ep {
    @include ep;
    text-align: center;
  }

  .st1-main-btn {
    margin-top: 10px;
    border: $border;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
  }
}

.main-st2 {
  padding: 80px;
  div:first-child {
    padding: 0 10px;
    font-size: 26px;
    font-weight: bolder;
  }

  .main-st2-tit {
    font-size: 52px;
  }

  div:first-child {
    display: flex;
    align-items: center;
    position: relative;
  }

  .card-lay {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 10px;
    overflow: auto;
  }

  button {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 42px;
    height: 42px;
    border-radius: 40px;
    background-color: rgb(229, 229, 229);
    border: none;
  }

  #prev {
    right: 80px;
  }

  #next {
    right: 0;
  }

  .card-img-box {
    margin-top: 50px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    div {
      position: relative;
      display: inline-block;
      width: 380px;
      height: 480px;
      margin-right: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      div {
        width: 97%;
        height: auto;
        position: absolute;
        left: 10px;
        font-size: 20px;
        color: #fff;
      }

      div:nth-child(1) {
        bottom: 65px;
      }

      div:nth-child(2) {
        bottom: 25px;
        a {
          font-size: 16px;
          padding: 10px;
          color: #000;
          background-color: #fff;
          border-radius: 25px;
        }
      }
    }

    div:last-child {
      margin-right: 0;
    }
    .main-img1 {
      background-image: url("/img/main-img1.png");
    }
    .main-img2 {
      background-image: url("/img/main-img2.png");
    }
    .main-img3 {
      background-image: url("/img/main-img3.png");
    }
    .main-img4 {
      background-image: url("/img/main-img4.png");
    }
    .main-img5 {
      background-image: url("/img/main-img5.png");
    }
    .main-img6 {
      background-image: url("/img/main-img6.png");
    }
  }
}

.main-st3 {
  padding: 0px 80px 0px 80px;

  video {
    width: 100%;
  }

  .main-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $main-pd;

    .main-ep {
      @include ep;
    }
    .main-bs {
      @include bs;
    }

    .st1-main-btn {
      margin-top: 10px;
      border: $border;
      padding: 10px 20px;
      border-radius: 20px;
      color: #fff;
      background-color: #000;
    }
  }
}

.main-st4 {
  padding: 40px 80px 80px 80px;

  .main-st4-tit {
    font-size: 26px;
    font-weight: bolder;
  }

  .card-st4-box {
    display: flex;
    justify-content: space-between;

    div {
      width: 620px;
      height: 320px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    div:first-child {
      width: 100%;
      margin-right: 15px;
      background-image: url("/img/main-st4-img1.png");
    }
    div:nth-child(2) {
      width: 100%;
      background-image: url("/img/main-st4-img2.png");
    }
  }
}

// --------------- 배너 시작
.main-st5 {
  div:first-child {
    font-size: 26px;
    font-weight: bolder;
    padding-left: 80px;
    margin-bottom: 40px;
  }
  padding: 80 0 80px 0;
  .wrap {
    display: flex;
    overflow: hidden;
  }
  .wrap .rolling-list ul {
    display: flex;
  }
  .wrap .rolling-list ul li {
    width: 250px;
    height: 300px;
    box-sizing: border-box;
    margin: 0 16px;
    padding: 46px 31px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .wrap .rolling-list ul li:nth-child(1) {
    background-image: url("/img/bn-img1.png");
  }
  .wrap .rolling-list ul li:nth-child(2) {
    background-image: url("/img/bn-img2.png");
  }
  .wrap .rolling-list ul li:nth-child(3) {
    background-image: url("/img/bn-img3.png");
  }
  .wrap .rolling-list ul li:nth-child(4) {
    background-image: url("/img/bn-img4.png");
  }

  .wrap .rolling-list ul li:nth-child(5) {
    background-image: url("/img/bn-img5.png");
  }

  .wrap .rolling-list ul li:nth-child(6) {
    background-image: url("/img/bn-img6.png");
  }

  .wrap .rolling-list ul li:nth-child(7) {
    background-image: url("/img/bn-img7.png");
  }

  .wrap .rolling-list ul li:nth-child(8) {
    background-image: url("/img/bn-img8.png");
  }

  .wrap .rolling-list ul li .image-wrap {
    padding-right: 32px;
    width: 156px;
    flex-shrink: 0;
  }
  .wrap .rolling-list ul li .image-wrap > img {
    width: 100%;
  }
  .wrap .rolling-list ul li .desc {
    font-family: "BMJUA";
  }
  .wrap .rolling-list ul li .desc strong {
    display: block;
    font-size: 24px;
    margin-bottom: 24px;
  }
  .wrap .rolling-list ul li .desc span {
    font-size: 18px;
    line-height: 1.2;
  }

  .rolling-list.original {
    animation: rollingleft1 80s linear infinite;
  }
  .rolling-list.clone {
    animation: rollingleft2 80s linear infinite;
  }

  @keyframes rollingleft1 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    50.01% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rollingleft2 {
    0% {
      transition: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}

// --------------- 배너 끝

// main-st6 ---------------- 시작
.main-st6 {
  padding: 80px;
  div:first-child {
    padding: 0 10px;
    font-size: 26px;
    font-weight: bolder;
  }

  .main-st6-tit2 {
    font-size: 24px;
    font-weight: 400;
  }

  div:first-child {
    display: flex;
    align-items: center;
    position: relative;
  }

  .card-lay {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 10px;
    overflow: auto;
  }

  button {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 42px;
    height: 42px;
    border-radius: 40px;
    background-color: rgb(229, 229, 229);
    border: none;
  }

  #prev2 {
    right: 80px;
  }

  #next2 {
    right: 0;
  }

  .card-img-st6-box {
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    div {
      position: relative;
      display: inline-block;
      width: 380px;
      height: 450px;
      margin-right: 20px;

      div {
        width: 97%;
        position: absolute;
        left: 10px;
        font-size: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      div:nth-child(1) {
        height: 70%;
      }

      div:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        height: 27%;
        bottom: 0;
      }
      div:nth-child(3) {
        font-size: 20px;
        font-weight: bolder;
        height: 19%;
        bottom: 0;
      }
      div:nth-child(4) {
        text-align: center;
        align-content: center;
        width: 100px;
        font-size: 14px;
        font-weight: 400;
        height: 35px;
        background-color: #000;
        color: #fff;
        border-radius: 100px;
        bottom: 13px;
      }
    }

    div:last-child {
      margin-right: 0;
    }
    .main-img1 {
      background-image: url("/img/main-st6-img1.png");
    }
    .main-img2 {
      background-image: url("/img/main-st6-img2.png");
    }
    .main-img3 {
      background-image: url("/img/main-st6-img3.png");
    }
    .main-img4 {
      background-image: url("/img/main-st6-img4.png");
    }
    .main-img5 {
      background-image: url("/img/main-st6-img5.png");
    }
  }
}

// footer

.main-ft {
  padding: 80px;
  ul {
    display: flex;
    justify-content: center;
    li {
      width: 15%;
      display: flex;
      flex-direction: column;

      a {
        font-weight: bolder;
        margin-bottom: 5px;
        font-weight: 600;
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          font-size: 14px;
          width: 100%;
          padding: 10px 0 10px 0;
          color: #707072;
        }
      }
    }
  }
}

.main-ft2 {
  position: relative;
  padding: 80px 160px 10px 160px;
  .main-ft2-ln-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 93%;
    height: 1px;
    background-color: rgba(112, 112, 114, 0.25);
  }
  .main-ft2-ln-bt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 93%;
    height: 1px;
    background-color: rgba(112, 112, 114, 0.25);
  }
  ul {
    display: flex;
    li {
      width: 19%;

      a {
        font-weight: bolder;
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          width: 100%;
          font-size: 13px;
          padding: 5px 0 5px 0;
          color: #707072;
        }
      }
    }
  }
  .ft-ic-box {
    position: absolute;
    top: 80px;
    right: 160px;
    display: flex;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    .earth-ic {
      width: 20px;
      height: 20px;
      background-image: url("/img/earth-ic.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.8;
      margin-right: 4px;
    }
    .kr {
      font-size: 13px;
    }
  }
  .ft-con {
    margin: 60px 0 60px 0;
    display: flex;
    font-size: 12px;
    p {
      margin-right: 15px;
      a {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.main-ft3 {
  display: flex;
  justify-content: center;
  padding: 40px 80px 40px 80px;
  div {
    width: 50%;
    font-size: 10px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.7);
  }
  div:first-child {
    margin-right: 30px;
  }
}

// main 페이지 끝

// men 페이지 시작
.mw-menu {
  div {
    font-size: 18px;
    font-weight: 600;
  }
  div:last-child {
    opacity: 0;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 30px 80px;

  ul {
    display: flex;
    li {
      font-size: 14px;
      padding: 0px 10px 0 10px;
      font-weight: 600;
    }
  }
}

.men-main {
  width: 100%;
  height: 650px;
  background-image: url("/img/men-main-Img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.women-main {
  width: 100%;
  height: 650px;
  background-image: url("/img/women-main-Img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.men-st3,
.women-st3 {
  margin-top: 50px;
  margin-left: 80px;
  .main-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $main-pd;

    .main-ep {
      @include ep;
    }
    .main-bs {
      @include bs;
    }
  }
  .st1-main-btn {
    margin-top: 10px;
    border: $border;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
  }
}

#prev3 {
  right: 80px;
}

#next3 {
  right: 0;
}

// NEW
.new {
  display: flex;
  .side-menu {
    position: sticky;
    top: 0;
    left: 0;
    // border: $border;
    width: 300px;
    height: 100vh;
    // background-color: yellow;
    padding: 20px;
    overflow: auto;
    .side-menu-list {
      position: relative;
      padding-bottom: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      a {
        display: block;
        margin-bottom: 15px;
        font-weight: bolder;
      }

      .ar-btn {
        cursor: pointer;
        transition: 0.5s;
      }

      .ar-btn.on {
        transform: rotate(180deg);
      }

      .side-menu-de {
        max-height: 0;
        transition: 1.5s;
        li {
          max-height: 0;
          opacity: 0;
        }
      }

      .side-menu-de.on {
        max-height: 500px;
        li {
          max-height: 500px;
          opacity: 1;
        }
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
      }

      a:first-child {
        margin-top: 15px;
      }
    }
  }
  .pd-box {
    position: relative;
    padding: 60px;
    width: 100%;
    height: 100vh;
    // background-color: skyblue;
    overflow: auto;
    // border: $border;

    div:first-child {
      margin-top: 5px;
    }

    div:last-child {
      margin-bottom: 12px;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // border: $border;
      div {
        display: flex;
        flex-direction: column;
        .pd-img {
          width: 340px;
          height: 360px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .pd-img1 {
          background-image: url("/new/pd-img1.png");
        }
        .pd-img2 {
          background-image: url("/new/pd-img2.png");
        }
        .pd-img3 {
          background-image: url("/new/pd-img3.png");
        }
        .pd-img4 {
          background-image: url("/new/pd-img4.png");
        }
        .pd-img5 {
          background-image: url("/new/pd-img5.png");
        }
        .pd-img6 {
          background-image: url("/new/pd-img6.png");
        }
        .pd-img7 {
          background-image: url("/new/pd-img7.png");
        }
        .pd-img8 {
          background-image: url("/new/pd-img8.png");
        }
        .pd-img9 {
          background-image: url("/new/pd-img9.png");
        }
        .pd-img10 {
          background-image: url("/new/pd-img10.png");
        }
        .pd-img11 {
          background-image: url("/new/pd-img11.png");
        }
        .pd-img12 {
          background-image: url("/new/pd-img12.png");
        }
        .pd-img13 {
          background-image: url("/new/pd-img13.png");
        }
        .pd-img14 {
          background-image: url("/new/pd-img14.png");
        }
        .pd-img15 {
          background-image: url("/new/pd-img15.png");
        }

        .pd-con {
          div {
            padding: 3px 0;
          }
          .pd-tit {
            color: #9e3500;
            font-weight: bolder;
          }
          .pd-nm {
            font-weight: bolder;
          }
          .pd-s {
            color: rgba(0, 0, 0, 0.7);
          }
          .pd-sl {
            color: #9e3500;
          }
        }
      }
    }
  }
}
