$border: 1px solid #000;
$main-bg: rgb(245, 245, 245);
$main-pd: 30px;
$z: 0;
@mixin bs {
  padding: 5px;
}
@mixin bgs {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin ep {
  font-size: 55px;
  font-weight: bolder;
  padding: 10px;
}

.main-intro {
  text-align: center;
  padding: 15px 0px;
  background-color: $main-bg;
}

.main-intro.on {
  display: none;
}

.main {
  padding: 0 80px;

  video {
    width: 100%;
  }

  .main-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $main-pd;

    .main-ep {
      @include ep;
    }
    .main-bs {
      @include bs;
    }
  }

  .main-col {
    display: flex;
    div {
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 20px;
      color: #fff;
      background-color: #000;
    }

    div:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.main-st1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 80px;
  .main-st1-bg {
    width: 1186px;
    height: 410px;
    background-image: url("/img/main-st1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
  }
  .men-st1-bg {
    width: 1186px;
    height: 410px;
    background-image: url("/img/men-st1-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
  }

  .main-ep {
    @include ep;
    text-align: center;
  }

  .st1-main-btn {
    margin-top: 10px;
    border: $border;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
  }
}

.middleBar-hid > li {
  font-weight: 500;
  opacity: 0.8;
}

.middleBar-hid > li > ul > li {
  color: #707072;
  opacity: 1;
}

.main-st2 {
  padding: 80px;
  div:first-child {
    padding: 0 10px;
    font-size: 26px;
    font-weight: bolder;
  }

  .main-st2-tit {
    font-size: 52px;
  }

  div:first-child {
    display: flex;
    align-items: center;
    position: relative;
  }

  .card-lay {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 10px;
    overflow: auto;
  }

  button {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 42px;
    height: 42px;
    border-radius: 40px;
    background-color: rgb(229, 229, 229);
    border: none;
  }

  #prev {
    right: 80px;
  }

  #next {
    right: 0;
  }

  .card-img-box {
    margin-top: 50px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    div {
      position: relative;
      display: inline-block;
      width: 380px;
      height: 480px;
      margin-right: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      div {
        width: 97%;
        height: auto;
        position: absolute;
        left: 10px;
        font-size: 20px;
        color: #fff;
      }

      div:nth-child(1) {
        bottom: 65px;
      }

      div:nth-child(2) {
        bottom: 25px;
        a {
          font-size: 16px;
          padding: 10px;
          color: #000;
          background-color: #fff;
          border-radius: 25px;
        }
      }
    }

    div:last-child {
      margin-right: 0;
    }
    .main-img1 {
      background-image: url("/img/main-img1.png");
    }
    .main-img2 {
      background-image: url("/img/main-img2.png");
    }
    .main-img3 {
      background-image: url("/img/main-img3.png");
    }
    .main-img4 {
      background-image: url("/img/main-img4.png");
    }
    .main-img5 {
      background-image: url("/img/main-img5.png");
    }
    .main-img6 {
      background-image: url("/img/main-img6.png");
    }
  }
}

.main-st3 {
  padding: 0px 80px 0px 80px;

  .kids-img1 {
    margin-top: 50px;
    height: 300px;
    background-image: url("/img/kids.img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  video {
    width: 100%;
  }

  .main-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $main-pd;

    .main-ep {
      @include ep;
    }
    .main-bs {
      @include bs;
    }

    .st1-main-btn {
      margin-top: 10px;
      border: $border;
      padding: 10px 20px;
      border-radius: 20px;
      color: #fff;
      background-color: #000;
    }
  }
}

.main-st4 {
  padding: 40px 80px 80px 80px;
  margin-bottom: 80px;
  .main-st4-tit {
    font-size: 26px;
    font-weight: bolder;
  }

  .card-st4-box {
    display: flex;
    justify-content: space-between;

    div {
      width: 620px;
      height: 320px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    div:first-child {
      margin-right: 15px;
      background-image: url("/img/main-st4-img1.png");
    }
    div:nth-child(2) {
      background-image: url("/img/main-st4-img2.png");
    }
  }
}

// --------------- 배너 시작
.main-st5 {
  div:first-child {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 40px;
  }
  padding: 0px 80px 0px 80px;
  .wrap {
    display: flex;
    overflow: hidden;
  }
  .wrap .rolling-list ul {
    display: flex;
  }
  .wrap .rolling-list ul li {
    width: 250px;
    height: 300px;
    box-sizing: border-box;
    margin: 0 16px;
    padding: 46px 31px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .wrap .rolling-list ul li:nth-child(1) {
    background-image: url("/img/bn-img1.jpg");
  }
  .wrap .rolling-list ul li:nth-child(2) {
    background-image: url("/img/bn-img2.jpg");
  }
  .wrap .rolling-list ul li:nth-child(3) {
    background-image: url("/img/bn-img3.jpg");
  }
  .wrap .rolling-list ul li:nth-child(4) {
    background-image: url("/img/bn-img4.jpg");
  }

  .wrap .rolling-list ul li:nth-child(5) {
    background-image: url("/img/bn-img5.jpg");
  }

  .wrap .rolling-list ul li:nth-child(6) {
    background-image: url("/img/bn-img6.jpg");
  }

  .wrap .rolling-list ul li:nth-child(7) {
    background-image: url("/img/bn-img7.jpg");
  }

  .wrap .rolling-list ul li:nth-child(8) {
    background-image: url("/img/bn-img8.jpg");
  }

  .wrap .rolling-list ul li .image-wrap {
    padding-right: 32px;
    width: 156px;
    flex-shrink: 0;
  }
  .wrap .rolling-list ul li .image-wrap > img {
    width: 100%;
  }
  .wrap .rolling-list ul li .desc {
    font-family: "BMJUA";
  }
  .wrap .rolling-list ul li .desc strong {
    display: block;
    font-size: 24px;
    margin-bottom: 24px;
  }
  .wrap .rolling-list ul li .desc span {
    font-size: 18px;
    line-height: 1.2;
  }

  .rolling-list.original {
    animation: rollingleft1 80s linear infinite;
  }
  .rolling-list.clone {
    animation: rollingleft2 80s linear infinite;
  }

  @keyframes rollingleft1 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    50.01% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rollingleft2 {
    0% {
      transition: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}

// --------------- 배너 끝

// main-st6 ---------------- 시작
.main-st6 {
  padding: 80px;
  margin-top: 80px;
  div:first-child {
    padding: 0 10px;
    font-size: 26px;
    font-weight: bolder;
  }

  .main-st6-tit2 {
    font-size: 24px;
    font-weight: 400;
  }

  div:first-child {
    display: flex;
    align-items: center;
    position: relative;
  }

  .card-lay {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 10px;
    overflow: auto;
  }

  button {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 42px;
    height: 42px;
    border-radius: 40px;
    background-color: rgb(229, 229, 229);
    border: none;
  }

  #prev2 {
    right: 80px;
  }

  #next2 {
    right: 0;
  }

  .card-img-st6-box {
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    div {
      position: relative;
      display: inline-block;
      width: 380px;
      height: 450px;
      margin-right: 20px;

      div {
        width: 97%;
        position: absolute;
        left: 10px;
        font-size: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      div:nth-child(1) {
        height: 70%;
      }

      div:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        height: 27%;
        bottom: 0;
      }
      div:nth-child(3) {
        font-size: 20px;
        font-weight: bolder;
        height: 19%;
        bottom: 0;
      }
      div:nth-child(4) {
        text-align: center;
        align-content: center;
        width: 100px;
        font-size: 14px;
        font-weight: 400;
        height: 35px;
        background-color: #000;
        color: #fff;
        border-radius: 100px;
        bottom: 13px;
      }
    }

    div:last-child {
      margin-right: 0;
    }
    .main-img1 {
      background-image: url("/img/main-st6-img1.png");
    }
    .main-img2 {
      background-image: url("/img/main-st6-img2.png");
    }
    .main-img3 {
      background-image: url("/img/main-st6-img3.png");
    }
    .main-img4 {
      background-image: url("/img/main-st6-img4.png");
    }
    .main-img5 {
      background-image: url("/img/main-st6-img5.png");
    }
  }
}

// footer

.main-ft {
  margin-top: 30px;
  padding: 80px;
  ul {
    display: flex;
    justify-content: center;
    li {
      width: 15%;
      display: flex;
      flex-direction: column;

      a {
        font-weight: bolder;
        margin-bottom: 5px;
        font-weight: 600;
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          font-size: 14px;
          width: 100%;
          padding: 10px 0 10px 0;
          color: #707072;
        }
      }
    }
  }
}

.main-ft2 {
  position: relative;
  padding: 80px 160px 10px 160px;
  .main-ft2-ln-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 93%;
    height: 1px;
    background-color: rgba(112, 112, 114, 0.25);
  }
  .main-ft2-ln-bt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 93%;
    height: 1px;
    background-color: rgba(112, 112, 114, 0.25);
  }
  ul {
    display: flex;
    li {
      width: 19%;

      a {
        display: block;
        font-weight: bolder;
        width: 100%;
        padding-bottom: 10px;
      }

      .ft-a2 {
        z-index: 500;
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          width: 100%;
          font-size: 13px;
          padding: 5px 0 5px 0;
          color: #707072;
        }
      }
    }
  }
  .ft-ic-box {
    position: absolute;
    top: 80px;
    right: 160px;
    display: flex;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    .earth-ic {
      width: 20px;
      height: 20px;
      background-image: url("/img/earth-ic.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.8;
      margin-right: 4px;
    }
    .kr {
      font-size: 13px;
    }
  }
  .ft-con {
    margin: 60px 0 60px 0;
    display: flex;
    font-size: 12px;
    p {
      margin-right: 15px;
      a {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.main-ft3 {
  display: flex;
  justify-content: center;
  padding: 40px 80px 40px 80px;
  div {
    width: 50%;
    font-size: 10px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.7);
  }
  div:first-child {
    margin-right: 30px;
  }
}

// main 페이지 끝

// men 페이지 시작
.mw-menu {
  div {
    font-size: 18px;
    font-weight: 600;
  }
  div:last-child {
    opacity: 0;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 30px 80px;

  ul {
    display: flex;
    li {
      font-size: 14px;
      padding: 0px 10px 0 10px;
      font-weight: 600;
    }
  }
}

.men-main {
  width: 100%;
  height: 650px;
  background-image: url("/img/men-main-Img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.women-main {
  width: 100%;
  height: 650px;
  background-image: url("/img/women-main-Img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.men-st3 video,
.women-st3 video {
  width: 100%;
}

.men-st3,
.women-st3 {
  margin-top: 50px;
  margin-left: 80px;
  .main-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $main-pd;

    .main-ep {
      @include ep;
    }
    .main-bs {
      @include bs;
    }
  }
  .st1-main-btn {
    margin-top: 10px;
    border: $border;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
  }
}

#prev3 {
  right: 80px;
}

#next3 {
  right: 0;
}

// NEW
.new {
  display: flex;
  .side-menu {
    position: sticky;
    top: 0;
    left: 0;
    // border: $border;
    width: 300px;
    height: 100vh;
    // background-color: yellow;
    padding: 20px;
    overflow: auto;
    .side-menu-list {
      position: relative;
      padding-bottom: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      a {
        display: block;
        margin-bottom: 15px;
        font-weight: bolder;
      }

      .ar-btn {
        cursor: pointer;
        transition: 0.5s;
      }

      .ar-btn.on {
        transform: rotate(180deg);
      }

      .side-menu-de {
        max-height: 0;
        transition: 1.5s;
        li {
          max-height: 0;
          opacity: 0;
        }
      }

      .side-menu-de.on {
        max-height: 500px;
        li {
          max-height: 500px;
          opacity: 1;
        }
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
      }

      a:first-child {
        margin-top: 15px;
      }
    }
  }
  .pd-box {
    position: relative;
    padding: 60px;
    width: 100%;
    height: 100vh;
    // background-color: skyblue;
    overflow: auto;
    // border: $border;

    div:first-child {
      margin-top: 5px;
    }

    div:last-child {
      margin-bottom: 12px;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // border: $border;
      div {
        display: flex;
        flex-direction: column;
        .pd-img {
          width: 340px;
          height: 360px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .pd-img1 {
          background-image: url("/new/pd-img1.jpg");
        }
        .pd-img2 {
          background-image: url("/new/pd-img2.jpg");
        }
        .pd-img3 {
          background-image: url("/new/pd-img3.jpg");
        }
        .pd-img4 {
          background-image: url("/new/pd-img4.jpg");
        }
        .pd-img5 {
          background-image: url("/new/pd-img5.jpg");
        }
        .pd-img6 {
          background-image: url("/new/pd-img6.jpg");
        }
        .pd-img7 {
          background-image: url("/new/pd-img7.jpg");
        }
        .pd-img8 {
          background-image: url("/new/pd-img8.jpg");
        }
        .pd-img9 {
          background-image: url("/new/pd-img9.jpg");
        }
        .pd-img10 {
          background-image: url("/new/pd-img10.jpg");
        }
        .pd-img11 {
          background-image: url("/new/pd-img11.jpg");
        }
        .pd-img12 {
          background-image: url("/new/pd-img12.jpg");
        }
        .pd-img13 {
          background-image: url("/new/pd-img13.jpg");
        }
        .pd-img14 {
          background-image: url("/new/pd-img14.jpg");
        }
        .pd-img15 {
          background-image: url("/new/pd-img15.jpg");
        }

        //
        .sa-img1 {
          background-image: url("/img/sa-img1.png");
        }
        .sa-img2 {
          background-image: url("/img/sa-img2.png");
        }
        .sa-img3 {
          background-image: url("/img/sa-img3.png");
        }
        .sa-img4 {
          background-image: url("/img/sa-img4.png");
        }
        .sa-img5 {
          background-image: url("/img/sa-img5.png");
        }
        .sa-img6 {
          background-image: url("/img/sa-img6.png");
        }
        .sa-img7 {
          background-image: url("/img/sa-img7.png");
        }
        .sa-img8 {
          background-image: url("/img/sa-img8.jpeg");
        }
        .sa-img9 {
          background-image: url("/img/sa-img9.png");
        }
        .sa-img10 {
          background-image: url("/img/sa-img10.png");
        }
        .sa-img11 {
          background-image: url("/img/sa-img11.png");
        }
        .sa-img12 {
          background-image: url("/img/sa-img12.png");
        }
        .sa-img13 {
          background-image: url("/img/sa-img13.png");
        }
        .sa-img14 {
          background-image: url("/img/sa-img14.png");
        }
        .sa-img15 {
          background-image: url("/img/sa-img15.png");
        }

        .pd-con {
          div {
            padding: 3px 0;
          }
          .pd-tit {
            color: #9e3500;
            font-weight: bolder;
          }
          .pd-nm {
            font-weight: bolder;
          }
          .pd-s {
            color: rgba(0, 0, 0, 0.7);
          }
          .pd-sl {
            color: #9e3500;
          }
        }
      }
    }
  }
}

.kids-st6 {
  padding: 80px;
  margin-bottom: 80px;
  margin-top: 10px;
  div {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  ul {
    display: flex;
    // border: $border;
    height: 300px;
    li {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      // border: $border;
    }

    li:not(:last-child) {
      margin-right: 15px;
    }
    .kids-img1 {
      background-image: url("/img/kids-img1.png");
    }
    .kids-img2 {
      background-image: url("/img/kids-img2.png");
    }
    .kids-img3 {
      background-image: url("/img/kids-img3.png");
    }
  }
}

.kids-st7 {
  margin-top: 50px;
  padding: 80px;
  div:first-child {
    padding: 0 10px;
    font-size: 26px;
    font-weight: bolder;
  }

  .main-st6-tit2 {
    font-size: 24px;
    font-weight: 400;
  }

  div:first-child {
    display: flex;
    align-items: center;
    position: relative;
  }

  .card-lay {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 10px;
    overflow: auto;
  }

  button {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    width: 42px;
    height: 42px;
    border-radius: 40px;
    background-color: rgb(229, 229, 229);
    border: none;
  }

  #prev2 {
    right: 80px;
  }

  #next2 {
    right: 0;
  }

  .card-img-st6-box {
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    div {
      position: relative;
      display: inline-block;
      width: 380px;
      height: 300px;
      margin-right: 20px;

      div {
        width: 97%;
        position: absolute;
        left: 10px;
        font-size: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        div {
          text-align: center;
          align-content: center;
          width: auto;
          height: auto !important;
          padding: 10px 15px 10px 15px;
          left: 25px;
          bottom: 25px;
          background-color: #fff;
          border: 1px solid #fff;
          border-radius: 50px;
          font-size: 16px;
          font-weight: 400;
        }
      }

      div:nth-child(1) {
        height: 100%;
      }

      div:nth-child(2) {
        font-size: 16px;
        font-weight: 400;
        height: 27%;
        bottom: 0;
      }
      div:nth-child(3) {
        font-size: 20px;
        font-weight: bolder;
        height: 19%;
        bottom: 0;
      }
      div:nth-child(4) {
        text-align: center;
        align-content: center;
        width: 100px;
        font-size: 14px;
        font-weight: 400;
        height: 35px;
        background-color: #000;
        color: #fff;
        border-radius: 100px;
        bottom: 13px;
      }
    }

    div:last-child {
      margin-right: 0;
    }
    .main-img1 {
      background-image: url("/img/kids-ft-img1.png");
    }
    .main-img2 {
      background-image: url("/img/kids-ft-img2.png");
    }
    .main-img3 {
      background-image: url("/img/kids-ft-img3.png");
    }
    .main-img4 {
      background-image: url("/img/kids-ft-img4.png");
    }
    .main-img5 {
      background-image: url("/img/kids-ft-img5.png");
    }
    .main-img5 {
      background-image: url("/img/kids-ft-img6.png");
    }
  }
}

// 데스크탑 미적용 sty
.mb-topBarMenu {
  display: none;
}

.mb-br {
  display: none;
}

.de-h {
  display: none;
}

.mb-me-modal {
  display: none;
}

// 모바일
@media (max-width: 768px) {
  .mb-br {
    display: block;
  }
  .topBarMenu {
    display: none;
  }

  .dt-no {
    display: none;
  }

  .nk-ar {
    display: none;
  }

  .mb-topBarMenu {
    display: flex;

    li {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.9;
    }

    li:not(:last-child) {
      margin-right: 10px;
    }

    .se-ic {
      background-image: url("/img/se-ic.svg");
    }
    .pe-ic {
      background-image: url("/img/pe-ic.svg");
    }
    .iv-ic {
      background-image: url("/img/iv-ic.svg");
    }
    .me-ic {
      position: relative;
      background-image: url("/img/me-ic.svg");
      z-index: 1000;
    }
  }

  .main-intro {
    background-color: #fff;
    padding: 20px 0 20px;
  }

  .middleBar {
    display: none;
  }

  .main-st1 {
    display: none;
  }

  .main-st2 {
    padding: 0;
    margin-bottom: 100px;
    .main-st2-tit {
      font-size: 32px;
    }

    #prev {
      width: 35px;
      height: 35px;
      right: 60px;
    }

    #next {
      width: 35px;
      height: 35px;
      right: 10px;
    }

    .card-img-box > div {
      width: 340px;
      height: 340px;
    }
  }

  .main-box1 {
    padding: 30px 20px 30px 20px !important;
    align-items: start !important;
  }

  .main-st3 {
    padding: 0;
  }

  .main-st4-tit {
    padding-bottom: 25px;
  }

  .card-st4-box {
    flex-direction: column;
    div {
      height: 205px !important;
    }

    div:first-child {
      margin-bottom: 15px;
    }
  }

  .main-st4 {
    margin-top: 50px;
    padding: 0;
    .main-st4-tit {
      padding-left: 20px;
    }
  }

  .main-st5 {
    div {
      margin-bottom: 25px !important;
    }
    div:first-child {
      padding-left: 20px;
    }
  }

  .main-st6 {
    padding: 0;
    #prev2 {
      width: 35px;
      height: 35px;
      right: 60px;
    }

    #next2 {
      width: 35px;
      height: 35px;
      right: 10px;
    }
  }

  .main {
    padding: 0;
  }

  .main-ep {
    font-size: 40px !important;
    padding: 0 0 0 3px !important;
  }
  .main-bs {
    padding: 0 !important;
    margin-bottom: 10px !important;
  }

  .mb-ln {
    line-height: 30px;
  }

  .main-col {
    display: flex;
    flex-direction: column;
    div {
      text-align: center;
      width: auto;
      font-size: 14px;
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 20px;
      color: #fff;
      background-color: #000;
      margin-right: 0 !important;
    }

    div:not(:last-child) {
      margin-right: 30px;
    }
  }

  .main-st6-tit2 {
    margin-left: 10px;
  }

  .card-img-st6-box {
    div {
      div {
        padding: 0;
        left: 0;
      }
      div:nth-child(2) {
        left: 20px;
      }
      div:nth-child(3) {
        left: 20px;
      }
      div:nth-child(4) {
        left: 20px;
      }
    }
  }

  .main-ft {
    margin-top: 80px;
    padding: 20px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      li {
        width: 100%;
        display: flex;
        flex-direction: column;

        a {
          font-size: 20px;
          font-weight: bolder;
          margin-bottom: 5px;
          font-weight: 600;
        }

        .ft-a {
          z-index: 500;
        }

        ul {
          display: flex;
          flex-direction: column;
          padding: 10px;
          max-height: 0;
          padding: 10px;
          transition: 1s;
          overflow: hidden;
          opacity: 0;
          transition: max-height 1s ease, opacity 1s ease;

          li {
            font-size: 14px;
            width: 100%;
            color: #707072;
          }
        }
        ul.on {
          font-size: 14px;
          width: 100%;
          max-height: 500px;
          opacity: 1;
          color: #707072;
        }
      }
    }
  }

  .main-ft2 {
    position: relative;
    padding: 20px;
    .main-ft2-ln-top {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 93%;
      height: 1px;
      background-color: rgba(112, 112, 114, 0.25);
    }
    .main-ft2-ln-bt {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 93%;
      height: 1px;
      background-color: rgba(112, 112, 114, 0.25);
    }
    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      li {
        width: 100%;

        a {
          font-size: 20px;
          font-weight: bolder;
        }
        ul {
          position: relative;
          display: flex;
          flex-direction: column;
          max-height: 0;
          opacity: 0;
          transition: 1s;
          li {
            width: 100%;
            font-size: 14px;
            padding: 10px;
            color: #707072;
          }
        }
        ul.on {
          max-height: 500px;
          opacity: 1;
        }
      }
    }
    .ft-ic-box {
      position: absolute;
      bottom: 0;
      display: block;
      color: rgba(0, 0, 0, 0.7);
      .earth-ic {
        width: 20px;
        height: 20px;
        background-image: url("/img/earth-ic.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.8;
        margin-right: 4px;
      }
      .kr {
        font-size: 13px;
      }
    }
    .ft-con {
      margin: 60px 0 60px 0;
      display: flex;
      font-size: 12px;
      p {
        margin-right: 15px;
        a {
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }

    .ft-con {
      padding-top: 20px;
      margin: 0;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      p {
        font-size: 14px;
        padding: 10px 5px 10px 5px;
        a {
          color: rgba(0, 0, 0, 0.7);
        }
      }
      .tw {
        font-weight: bolder;
      }
    }
  }

  .main-ft3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    div {
      width: 100%;
      font-size: 12px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.7);
      p {
        line-height: 16px;
      }
    }
    div:first-child {
      margin-right: 30px;
    }
  }

  // 모바일 메뉴 모달 구현

  .mb-me-modal {
    display: none;
  }

  .mb-me-modal.on {
    display: flex;
    position: absolute;
    justify-content: end;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 1.5s;
    opacity: 0;

    .mb-me {
      width: 0%;
      height: 100vh;
      background-color: #fff;
      z-index: 1000;
      padding: 10px;
      transition: 0.5s;
      opacity: 0;
    }
    .mb-btn {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 50px;
      .mb-cl {
        position: relative;
        bottom: 5px;
        right: 11px;
        width: 40px;
        height: 40px;
        background-image: url("/public/img/close-ic.svg");
        @include bgs;
      }
    }
    ul {
      padding: 50px 20px 50px 20px;
      li {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 400;
        padding: 30px 0px 30px 0;

        span {
          margin-right: 15px;
        }
      }
    }
  }
  .mb-me-modal.on {
    opacity: 1;

    .mb-me {
      position: relative;
      z-index: 500;
      width: 85%;
      height: 100vh;
      background-color: rgb(229, 229, 229);
      z-index: 1000;
      padding: 10px;
      opacity: 1;
    }
  }

  .side-menu {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .main-st4 {
    display: none;
  }

  .middleBar-hid.on {
    display: none;
  }

  // men

  .mw-menu {
    padding: 20px;
  }

  .mw-menu ul {
    display: none;
  }

  .men-main {
    height: 250px;
  }

  .men-st3 video {
    width: 100%;
  }

  .women-main {
    height: 250px;
  }

  .women-st3 video {
    width: 100%;
  }

  .men-st3,
  .women-st3 {
    margin-left: 0;
  }

  // new
  .new .pd-box {
    display: flex;
    padding: 0;
  }

  .men-st3,
  .women-st3 {
    margin-left: 0;
  }

  .pd-box-1 {
    display: flex;
    justify-content: center !important;
  }

  // kids

  .kids-st6 {
    padding: 0;
  }

  .kids-st7 {
    padding: 0;
  }

  .kids-st6 ul li:not(:last-child) {
    margin-right: 10px;
  }

  .kids-st6 ul {
    height: auto;
  }

  .kids-st7 #prev2 {
    width: 35px;
    height: 35px;
    right: 60px;
  }

  .kids-st7 #next2 {
    width: 35px;
    height: 35px;
    right: 10px;
  }

  .kids-st6 ul li {
    height: 200px;
  }
} // --
